<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>

  <div class="field">
    <%= f.label :Climber_or_Volunteer %><br>
    <%= select_tag(:type_of_participant, '<option value="volunteer">Volunteer</option>
  <option value="climber">Climber</option>
  <option value="family_member">Family Member</option>') %>
  </div>

  <% if @user.type_of_participant == "climber" %>
  <div class="field">
    <%= f.label :disabilities %><br>
    <%= f.text_area :disabilities %>
  </div>
  <% elsif @user.type_of_participant == "volunteer" %>
  <div class="field">
    <%= f.label :volunteer_info %><br>
    <%= f.text_area :volunteer_info %>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :bkbs_member? %><br>
    <%= f.check_box :bkbs_member %>
  </div>
  <div class="field">
    <%= f.label :belay_certified? %><br>
    <%= f.check_box :belay_certified %>
  </div>
  <div class="field">
    <%= f.label :emergency_contact_name %><br>
    <%= f.text_field :emergency_contact_name %>
  </div>
  <div class="field">
    <%= f.label :emergency_contact_phone %><br>
    <%= f.text_field :emergency_contact_phone %>
  </div>
  <div class="field">
    <%= f.label :has_shoes %><br>
    <%= f.check_box :has_shoes %>
  </div>
  <div class="field">
    <%= f.label :has_harness %><br>
    <%= f.check_box :has_harness %>
  </div>

  <% if current_user.admin %>
  <div class="field">
    <%= f.label :admin? %><br>
    <%= f.check_box :admin %>
  </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
