<h2>Admin Page</h2>

<%= link_to "All Users", users_path %>
<%= link_to "All Registrations", event_registrations_path %>
<%= link_to "All Events", events_path %>
<%= link_to "Create New Event", new_event_path %>
<%= link_to "New Event Registration", new_event_registration_path %>
<%= link_to "New User", new_user_path %>
